body{
    font-family: "Comic Sans MS";
    margin: 0;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #F2F7F8;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    line-height: 45px;
    position: relative;
}
.main_block{
    display: block;
    width: 1000px;
    margin: auto;
    position: relative;
}

.block_elem{
    display: block;
    float: left;
    min-height: 200px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #F7FAFC;
}

.clear{
    display: block;
    clear: both;
}

#info{
    width: 19%;
    margin-right: 10px;
}

#history{
    width: 60%;
}

#friends{
    width: 19%;
    margin-left: 10px;
}

h1{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}
#btn_logout{
    width: auto;
    font-family: "Comic Sans MS";
    font-weight: 500;
    padding: 0 10px;
    background-color: lightblue;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 2px;
    height: 46px;
}
ul{
    list-style-type: none;
    text-align: center;
    padding: 0 10px;
    margin: 0;
}