<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="{% static "home.css" %}"  rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div class="header" style="margin-bottom: 10px">
        <div class="main_block">
            <h1>Witcher Project</h1>
            <button id="btn_logout">Выход</button>
        </div>
    </div>
    <div class="main_block">
        <div id="info" class="block_elem">
            <div class="header"><b>Управление</b></div>
            <ul  style="list-style-type: none">
                <li><a href="/witcher_info/">Информация о персонаже</a></li>
            </ul>
        </div>
        <div id="history" class="block_elem">
            <div class="header"><b>Приключения</b></div>
            <div class="field" style="height: 400px; background-color: gray"></div>
            <div class="buttons" style="height: 100px"></div>
        </div>
        <div id="friends" class="block_elem">
            <div class="header"><b>Список друзей</b></div>
            <ul style="" >
                <li>Друг 1</li>
                <li>Друг 2</li>
                <li>Друг 3</li>
            </ul>
        </div>
    </div>
</body>
</html>