<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="{% static "home.css" %}"  rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <div class="header" style="margin-bottom: 10px">
        <div class="main_block">
            <h1>Witcher Project</h1>
            <button id="btn_logout">Выход</button>
        </div>
    </div>
    <div class="main_block">
        <div id="info" class="block_elem">
            <div class="header"><b>Управление</b></div>
            <ul  style="list-style-type: none">
                <li><a href="#">Информация о персонаже</a></li>
            </ul>
        </div>
        <div id="history" class="block_elem">
            <div class="header"><b>Приключения</b></div>
            <div id="event_container" class="field" style="height: 400px; background-color: gray">

            </div>
            <script>
                function getEvents(){
                    $.ajax({
                        url: '/ajax/get_events/',
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);
                            for(i = 0; i < data.events.length; ++i){
                                var event = data.events[i];
                                var node = document.createElement("div");
                                var date = document.createElement("div");
                                date.setAttribute("class", "event_date");
                                date.innerHTML = "<p>" + event.date + "</p>";
                                var message = document.createElement("div");
                                message.setAttribute("class", "event_message");
                                message.innerHTML = "<p>" + event.message + "</p>";
                                node.appendChild(date).appendChild(message);
                                $("#event_container").appendChild(node);
                            }
                        },
                        error: function(xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            console.log(err.Message);
                        }
                    });
                }
                setInterval(getEvents, 60000);
            </script>
            <div class="buttons" style="height: 100px"></div>
        </div>
        <div id="friends" class="block_elem">
            <div class="header"><b>Список друзей</b></div>
            <ul style="" >
                <li>Друг 1</li>
                <li>Друг 2</li>
                <li>Друг 3</li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</body>
</html>