<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witcher info</title>
</head>
<body style="font-weight: 500; font-family: 'Comic Sans MS'">
<div style=" width: 300px; margin: auto; text-align: center; border-radius: 10px; background-color: #DDDAE5; padding: 10px">
    <div id="witcher_info_container">
        <div>
            Имя: {{ witcher.name }}
        </div>
        <div>
            Возраст: {{ witcher.age }}
        </div>
        <div>
            Школа: {{ witcher.school }}
        </div>
        <div>
            Статус: {{ witcher.status }}
        </div>
    </div>
    <a href="/home/">Назад</a>
</div>
</body>
</html>